<ion-header class="custom-header ion-no-border w-100">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="isLoginPage == false">
      <ion-back-button  defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="lang-switchr">
    <div *ngFor="let lag of languages">
      <div
        [ngStyle]="{
          'font-family': lag.code === 'ur' ? 'JameelNooriNastaleeq' : 'Inter'
        }"
        (click)="onLanguageChange(lag.code)"
        [ngClass]="lag.isSelected ? 'active-lang' : ''"
        class="make-icon-to-cursor"
      >
        {{ lag.label }}
      </div>
    </div>
  </div>
</ion-header>
