/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.modal-submit-btns {
    background-color: white;
    border: #828282 solid 1px;
    border-radius: 5px;
    color: #828282;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.modal-cancel-btns {
    background-color: white;
    border: #828282 solid 1px;
    border-radius: 5px;
    color: #828282;
    cursor: pointer;
}

.modal-submit-btns:hover {
    background: linear-gradient(90deg, #2446df 0%, #5f74eb 100%);
    color: white;
}

.modal-cancel-btns:hover {
    background-color: white;
    border: #828282 solid 1px;
    color: #828282;
}

.custom-modal-dialog {
    max-height: 50vh;
    overflow-y: hidden;
}

.header-bg-orange {
    background: linear-gradient(90deg, #2446df 0%, #5f74eb 100%);
    color: white;
}


/*
 *  custom scroll bar design
 */

 .app-scroll-bar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.app-scroll-bar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.app-scroll-bar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #9ca094;
}